@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown {
    font-size: 1rem;
    line-height: 1.5;
}

.markdown ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.markdown ol {
    list-style-type: decimal;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.markdown li {
    margin-bottom: 8px;
}

.markdown p {
    margin-bottom: 16px;
}